{% extends 'base.html.twig' %}

{% block title %}Facturacion | Inicio{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #9aaebd;">
    <span class="navbar-brand mb-0 h1">Facturacion</span>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
      <a class="nav-link" href="{{path('app_facturacion_tickets')}}">Revisar Tickets</a>
        <a class="nav-link text-light" href="{{path('app_logout')}}"><span class="bi bi-box-arrow-right mr-1"></span>Cerrar sesión</a>
      </div>
    </div>
  </nav>
<h1>Facturas</h1>
{% if not lista is empty %}
    <table class="table">
<thead>
  <tr>
    <th>ID Factura</th>
    <th>ID Usuario</th>
    <th>ID Ticket</th>
    <th>Descripcion</th>
    <th>Costo Total</th>
  </tr>
</thead>
<tbody>
{% for factura in lista %}
        <tr>
        <td>{{factura.idFactura}}</td>
        <td>{{factura.idUsuario.idUsuario}}</td>
        <td>{{factura.idTicket.idTicket}}</td>
        <td>{{factura.idTicket.descripcion}}</td>
        <td>{{factura.costoTotal}}</td>
        </tr>
        {% endfor %}
</tbody>
</table>
{% else %}
<p>No hay facturas para presentar.</p>
{% endif %}

{% endblock %}
